<%- include("header") -%>
<%- include("navbar") -%>

<div class="container m-5">
    <% for(var i in titles){ %>
    <div class="d-flex align-items-center flex-wrap border border-dark m-2 p-2">
        <div class="phone  d-flex justify-content-center"><img src=<%= posters[i]%>
                class="w-25" alt="" style="width:10%"></div>
        <div class="text-center phone" style="font-size: 22px;
        font-family: 'roboto'; font-weight: bold;">
            <li type="none" class="p-2"> <%= titles[i] %> </li>
        </div>
        <div class="rate"> <button class="btn btn-primary">Rate</button></div>
    </div>

    <%}%>
</div>

<%- include("footer") -%>